body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, red, blue);
  text-align: center;
}

header {
  position: relative;
  background: linear-gradient(red, black);
  color: white;
  padding: 60px 20px;
}

.profile-pic {
  position: absolute;
  top: 80px;
  right: 160px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.profile-pic:hover {
  transform: scale(1.15) rotate(-5deg) rotate(5deg);
  border-color:red;
  box-shadow: 0px 8px 20px black;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.3s;
}

.btn:hover {
  background: red;
  color: black;
  transform: scale(1.05);
}

section {
  padding: 40px 20px;
  background: linear-gradient(red, black);
  margin: 20px;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.3s;
}

section:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  font-size: 18px;
}

.project {
  background: linear-gradient(red, black);
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.3s;
}

.project:hover {
  transform: scale(1.05);
  background: linear-gradient(white, black);
}

a {
  color: yellow;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: white;
  text-decoration: underline;
}

footer {
  padding: 15px;
  background: #222;
  color: white;
}